<section id="section-about" class="scroll-mt-24 mt-32 text-center">
    <h2 class="text-4xl text-secondary font-bold">Nuestra Misión</h2>
    <span class="text-lg text-gray-400 font-medium">Salvar vidas, dar esperanza.</span>

    <p class="prose mx-auto mt-6">
        Rescatamos animales en riesgo y les ofrecemos atención y rehabilitación.
        Desde 2006, hemos ayudado a más de 9.000 animales a encontrar un nuevo hogar.
        Nuestro objetivo es darles una <span class="font-bold">segunda oportunidad</span>.
    </p>

    <div class="max-w-4xl mx-auto mt-16">
        <dl id="stats" class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3">
            <div class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
                <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                    Animales Rescatados
                </dt>
                <dd class="order-1 text-5xl font-extrabold text-primary">
                    <span class="js-count-up" data-value="9000"></span>+
                </dd>
            </div>
            <div
                    class="flex flex-col border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r">
                <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                    Adopciones al Año
                </dt>
                <dd class="order-1 text-5xl font-extrabold text-primary js-count-up" data-value="500">500</dd>
            </div>
            <div class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
                <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                    Voluntarios Comprometidos
                </dt>
                <dd class="order-1 text-5xl font-extrabold text-primary js-count-up" data-value="200">200</dd>
            </div>
        </dl>
    </div>
</section>