---
import { Image } from "astro:assets";
import dogImage from "~/assets/dog.png";

const widths = [350, 800];
const sizes = "(min-width: 640px) 42vw, 57vw";
---

<section class="relative h-full bg-gradient-to-tr from-[#9470E1] via-[#B08DF7] to-[#D6BFFF] cursor-white">
    <div class="relative grid h-full place-items-center lg:grid-cols-2 container xl:p-36 mx-auto">
        <div class="animate-slideIn">
            <h2 class="flex flex-col text-center lg:text-start items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-start">
                <span class="text-white font-extrabold tracking-tight text-4xl sm:text-6xl text-nowrap md:text-8xl">
                    Cada huella <br> cuenta.
                </span>
            </h2>

            <button class="rounded-xl bg-white text-[#9470E1] font-bold text-lg sm:text-2xl p-4 mt-6 hover:scale-105 hover:shadow-xl transition-all duration-300 ease-in-out flex items-center gap-2 shadow-md mx-auto lg:mx-0 cursor-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mb-[-2px]">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
                Adopta a tu mejor amigo
            </button>
        </div>

        <div class="w-2/3 max-w-3xl self-start sm:w-10/12 filter drop-shadow-xl lg:self-auto sm:justify-self-end mx-auto lg:mx-0 animate-fadeIn">
            <Image
                class="h-full w-full max-h-[500px] md:p-10 object-contain"
                src={dogImage}
                widths={widths}
                sizes={sizes}
                alt="Un perro"
            />
        </div>
    </div>
</section>